<h1>All Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
    <h2><%= astronaut.name %></h2>
    <p> <%= astronaut.age %> </p>
    <p> <%= astronaut.job %> </p>
    <p> <%= astronaut.total_space_time %> </p>
    <h3>Missions:</h3>
    <% astronaut.ast_missions.each do |mission| %>
    <p>  <%= mission.title %>  </p>
    <% end  %>
    <br />
  </section>
<% end %>

<p>Average Astronaut Age: <%= @astronauts.average_age.round  %>
